.type--button-1 {
  background-color: get-color(hoodlinelightgray);
  font-family: get-font(sansBold);
  font-size: 14px;
  color: get-color(hoodlinedarkgray);
  padding: 10px;
  transition: color get-duration(fast) ease, background get-duration(fast) ease;
  will-change: color, background;

  &--active {
    background-color: get-color(hoodlinedarkgray);
    color: get-color(hoodlinelightgray);
  }
}

.type--button-2 {
  background-color: get-color(hoodlinered);
  font-family: get-font(sansBold);
  font-size: 16px;
  color: get-color(white);
  padding: 15px;
  transition: background get-duration(fast) ease;
  will-change: background;
  border-radius: 6px;

  &--active {
    background-color: get-color(hoodlinedarkgray);
  }
}
