.type--button-1 {
  background-color: get-color(hoodlinelightgray);
  font-family: get-font(sansBold);
  font-size: 14px;
  color: get-color(hoodlinedarkgray);
  padding: 10px;
  cursor: pointer;
  transition: color get-duration(faster) ease, background get-duration(faster) ease;
  will-change: color, background;

  &:hover {
    background-color: darken(get-color(hoodlinelightgray), 15%);
  }

  &--active {
    background-color: get-color(hoodlinedarkgray);
    color: get-color(hoodlinelightgray);
  }
}

.type--button-2 {
  background-color: get-color(hoodlinered);
  font-family: get-font(sansBold);
  font-size: 16px;
  color: get-color(white);
  padding: 10px 20px;
  cursor: pointer;
  transition: background get-duration(faster) ease;
  will-change: background;
  border-radius: 6px;

  &:hover {
    background-color: get-color(hoodlinedarkgray);
  }
}
