@mixin make-offset($col, $cols, $breakpoint: null) {
  @if $breakpoint {
    @if get-breakpoint($breakpoint) < get-breakpoint(sm) and $col <= ($cols / 2) {
      .col-offset-#{$col}\@#{$breakpoint} {
        margin-left: percentage-from-ratio($col, $cols / 2);
      }
    } @else {
      .col-offset-#{$col}\@#{$breakpoint} {
        margin-left: percentage-from-ratio($col, $cols);
      }
    }
  } @else {
    .col-offset-#{$col} {
      margin-left: percentage-from-ratio($col, $cols);
    }
  }
}

@mixin make-column($col, $cols, $breakpoint: null) {
  @if $breakpoint {
    @if get-breakpoint($breakpoint) < get-breakpoint(sm) and $col <= ($cols / 2) {
      .col-#{$col}\@#{$breakpoint} {
        width: percentage-from-ratio($col, $cols / 2);
      }
    } @else {
      .col-#{$col}\@#{$breakpoint} {
        width: percentage-from-ratio($col, $cols);
      }
    }
  } @else {
    .col-#{$col} {
      width: percentage-from-ratio($col, $cols);
    }
  }
}

@mixin make-columns($cols, $breakpoint: null) {
  @for $col from 1 through $cols {
    @include make-column($col, $cols, $breakpoint);
    @include make-offset($col, $cols, $breakpoint);
  }
}

@mixin make-responsive-columns($cols, $breakpoints) {
  @each $breakpoint, $px in $breakpoints {
    @include breakpoint($breakpoint) {
      @include make-columns($cols, $breakpoint);
    }
  }
}

@mixin generate-grid($cols, $breakpoints) {
  @include make-columns($cols);
  @include make-responsive-columns($cols, $breakpoints);
}

.container {
  @include clearfix;
  max-width: $grid-size;
  padding: 0 $grid-gutter;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.row {
  @include clearfix;
  width: 100%;
  zoom: 1;
}

*[class|=col] {
  display: inline;
  position: relative;
  float: left;
  width: 100%;
  padding: 0 1% 2%;
  box-sizing: border-box;
  transition: all get-duration(fast) get-timing(easeOutExpo);

  // If the container is gutterless, then the child columns have no gutters.
  .gutterless > & {
    padding: 0;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@include generate-grid($grid-columns, $breakpoints);
