//   .d8888b.          d8b      888
//  d88P  Y88b         Y8P      888
//  888    888                  888
//  888        888d888 888  .d88888
//  888  88888 888P"   888 d88" 888
//  888    888 888     888 888  888
//  Y88b  d88P 888     888 Y88b 888
//   "Y8888P88 888     888  "Y88888

$grid-size: 1000px;
$grid-gutter: 20px;
$grid-columns: 12;


//  888888b.                            888                        d8b          888
//  888  "88b                           888                        Y8P          888
//  888  .88P                           888                                     888
//  8888888K.  888d888 .d88b.   8888b.  888  888 88888b.   .d88b.  888 88888b.  888888 .d8888b
//  888  "Y88b 888P"  d8P  Y8b     "88b 888 .88P 888 "88b d88""88b 888 888 "88b 888    88K
//  888    888 888    88888888 .d888888 888888K  888  888 888  888 888 888  888 888    "Y8888b.
//  888   d88P 888    Y8b.     888  888 888 "88b 888 d88P Y88..88P 888 888  888 Y88b.       X88
//  8888888P"  888     "Y8888  "Y888888 888  888 88888P"   "Y88P"  888 888  888  "Y888  88888P'
//                                                888
//                                                888
//                                                888

$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 1024px,
  lg: 1280px
);


//   .d8888b.           888
//  d88P  Y88b          888
//  888    888          888
//  888         .d88b.  888  .d88b.  888d888 .d8888b
//  888        d88""88b 888 d88""88b 888P"   88K
//  888    888 888  888 888 888  888 888     "Y8888b.
//  Y88b  d88P Y88..88P 888 Y88..88P 888          X88
//   "Y8888P"   "Y88P"  888  "Y88P"  888      88888P'

$colors: (
  primary: (
    hoodlinered: rgb(255, 48, 0),
    hoodlinelightgray: rgb(227, 228, 229),
    hoodlinedarkgray: rgb(42, 45, 51)
  ),
  grays: (
    black: rgb(0, 0, 0),
    gray10: rgb(26, 26, 26),
    gray15: rgb(33, 33, 33),
    gray20: rgb(57, 57, 57),
    gray35: rgb(97, 97, 97),
    gray45: rgb(117, 117, 117),
    gray50: rgb(134, 134, 134),
    gray60: rgb(158, 158, 158),
    gray80: rgb(212, 212, 212),
    gray85: rgb(235, 235, 235),
    gray90: rgb(247, 247, 247),
    white: rgb(255, 255, 255)
  )
);


//        d8888                                     888        888888b.
//       d88888                                     888        888  "88b
//      d88P888                                     888        888  .88P
//     d88P 888 .d8888b  88888b.   .d88b.   .d8888b 888888     8888888K.   .d88b.  888  888  .d88b.  .d8888b
//    d88P  888 88K      888 "88b d8P  Y8b d88P"    888        888  "Y88b d88""88b `Y8bd8P' d8P  Y8b 88K
//   d88P   888 "Y8888b. 888  888 88888888 888      888        888    888 888  888   X88K   88888888 "Y8888b.
//  d8888888888      X88 888 d88P Y8b.     Y88b.    Y88b.      888   d88P Y88..88P .d8""8b. Y8b.          X88
// d88P     888  88888P' 88888P"   "Y8888   "Y8888P  "Y888     8888888P"   "Y88P"  888  888  "Y8888   88888P'
//                       888
//                       888
//                       888

$aspect-boxes: (
  '1x1': (1, 1),
  '1x2': (1, 2),
  '2x1': (2, 1),
  '2x3': (2, 3),
  '3x2': (3, 2),
  '3x4': (3, 4),
  '4x3': (4, 3),
  '9x16': (9, 16),
  '16x9': (16, 9)
);


// 8888888b.                           888    d8b
// 888  "Y88b                          888    Y8P
// 888    888                          888
// 888    888 888  888 888d888 8888b.  888888 888  .d88b.  88888b.  .d8888b
// 888    888 888  888 888P"      "88b 888    888 d88""88b 888 "88b 88K
// 888    888 888  888 888    .d888888 888    888 888  888 888  888 "Y8888b.
// 888  .d88P Y88b 888 888    888  888 Y88b.  888 Y88..88P 888  888      X88
// 8888888P"   "Y88888 888    "Y888888  "Y888 888  "Y88P"  888  888  88888P'

$durations: (
  'slowest': 1500ms,
  'slower': 1000ms,
  'slow': 500ms,
  'fast': 350ms,
  'faster': 250ms,
  'fastest': 100ms
);


// 88888888888 d8b               d8b
//     888     Y8P               Y8P
//     888
//     888     888 88888b.d88b.  888 88888b.   .d88b.
//     888     888 888 "888 "88b 888 888 "88b d88P"88b
//     888     888 888  888  888 888 888  888 888  888
//     888     888 888  888  888 888 888  888 Y88b 888
//     888     888 888  888  888 888 888  888  "Y88888
//                                                 888
//                                            Y8b d88P
//                                             "Y88P"

$timing: (
  'easeOutQuad': cubic-bezier(0.250, 0.460, 0.450, 0.940),
  'easeOutCubic': cubic-bezier(0.215, 0.610, 0.355, 1.000),
  'easeOutQuart': cubic-bezier(0.165, 0.840, 0.440, 1.000),
  'easeOutQuint': cubic-bezier(0.230, 1.000, 0.320, 1.000),
  'easeOutSine': cubic-bezier(0.390, 0.575, 0.565, 1.000),
  'easeOutExpo': cubic-bezier(0.190, 1.000, 0.220, 1.000),
  'easeOutCirc': cubic-bezier(0.075, 0.820, 0.165, 1.000),
  'easeOutBack': cubic-bezier(0.175, 0.885, 0.320, 1.275)
);


//  8888888888               888
//  888                      888
//  888                      888
//  8888888 .d88b.  88888b.  888888 .d8888b
//  888    d88""88b 888 "88b 888    88K
//  888    888  888 888  888 888    "Y8888b.
//  888    Y88..88P 888  888 Y88b.       X88
//  888     "Y88P"  888  888  "Y888  88888P'

$fonts: (
  sansRegular: 'latoregular',
  sansBold: 'latobold',
  sansBlack: 'latoblack'
);
