.about-window {
  text-align: center;
  padding: 30px 10px;
  box-sizing: border-box;
}

.about-window__icon {
  height: 120px;
  margin-bottom: 20px;
}

.about-window__header {
  margin-bottom: 20px;
}

.about-window__logo {
  height: 32px;
}

//
// .about-window__title {
//   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
//   font-weight: bold;
//   font-size: 13px;
//   margin-bottom: 10px;
// }
//
// .about-window__description {
//   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
//   font-weight: normal;
//   font-size: 13px;
//   margin-bottom: 14px;
// }
//
// .about-window__version {
//   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
//   font-weight: normal;
//   font-size: 11px;
//   margin-bottom: 20px;
// }
//
// .about-window__copyright {
//   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
//   font-weight: normal;
//   font-size: 11px;
//   line-height: 14px;
// }
