.about-window {
  text-align: center;
  padding: 30px 10px;
  box-sizing: border-box;
}

.about-window__icon {
  height: 120px;
  margin-bottom: 20px;
}

.about-window__header {
  margin-bottom: 20px;
}

.about-window__logo {
  height: 32px;
}
